---
- name: Configure logging
  ansible.builtin.copy:
    dest: "{{ docker_log_conf_file }}"
    content: "{{ docker_log_conf | to_nice_json(indent=2) }}"
    group: root
    owner: root
    mode: 0644
  notify: restart docker service
  when: docker_log_conf_manage
