---
- name: set variable overrides
  set_fact:
    _docker_packages_helpers: "{{ docker_packages_helpers | default(docker_packages_helpers_default | sorted_get(overrides)) }}"
  vars:
    overrides:
      - "{{ ansible_distribution | lower }}-{{ ansible_distribution_release | lower }}"
      - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version }}"
      - "{{ ansible_distribution | lower }}"
      - "{{ ansible_os_family | lower }}"
      - "default"

- name: remove incompatible packages
  package:
    name: "{{ docker_remove_packages }}"
    state: absent
  when:
    - docker_remove_packages is defined
  tags:
    - install

- block:

    - name: install helper packages
      package:
        name: "{{ _docker_packages_helpers }}"
        state: "{{ docker_packages_state }}"
      tags:
        - install

    - name: install apt key
      apt_key:
        keyserver: "{{ docker_deb_repo.keyserver }}"
        state: present
        id: "{{ docker_deb_repo.key }}"
      when: ansible_os_family == "Debian"
      ignore_errors: yes
      register: apt_key_module
      tags:
        - install

    - name: force install apt key
      shell: |
        curl -fsSL {{ docker_deb_repo.keyserver }} | sudo apt-key add -
      args:
        warn: false
      when:
        - ansible_os_family == "Debian"
        - apt_key_module.failed
      tags:
        - skip_ansible_lint
        - install

    - name: install apt repository
      apt_repository:
        repo: "{{ docker_deb_repo.url }}"
        state: "{{ docker_repo_state }}"
        filename: docker
        validate_certs: no
      when: ansible_os_family == "Debian"
      tags:
        - install

    - name: install yum repository
      get_url:
        url: "{{ docker_rpm_repo.url }"
        dest: /etc/yum.repos.d/docker.repo
        mode: 0644
      when:
        - ansible_os_family == "RedHat"
        - docker_repo_state != 'absent'
      tags:
        - install

    - name: remove yum repository
      file:
        dest: /etc/yum.repos.d/docker.repo
        state: absent
      when: docker_repo_state == 'absent'
      tags:
        - install

    - meta: flush_handlers

  when: docker_repo_manage | bool

- name: install packages
  package:
    name: "{{ docker_packages }}"
    state: "{{ docker_packages_state }}"
  when: ansible_os_family != "Debian"
  tags:
    - install

- name: install apt packages
  apt:
    name: "{{ docker_packages }}"
    state: "{{ docker_packages_state }}"
    allow_unauthenticated: yes
    update_cache: yes
  when: ansible_os_family == "Debian"
  tags:
    - install

- name: configure service path
  file:
    path: "{{ docker_configuration_path }}"
    state: directory
  tags:
    - install

- block:

    - name: configure service
      template:
        src: "{{ docker_configuration_template }}"
        dest: "{{ docker_configuration_file }}"

    - name: manage service
      systemd:
        name: "{{ docker_service_name }}"
        state: "{{ docker_service_state }}"
        enabled: "{{ docker_service_enabled }}"
        daemon_reload: yes

  when: docker_service_manage | bool
  tags:
    - install

- name: configure logging
  copy:
    dest: "{{ docker_log_conf_file }}"
    content: "{{ docker_log_conf | to_nice_json(indent=2) }}"
  notify: restart docker service
  when: docker_log_conf_manage | bool
  tags:
    - configure

- name: manage docker groups
  group:
    name: "{{ docker_group }}"
  when: docker_group_manage | bool
  tags:
    - configure

- name: manage docker users
  user:
    append: yes
    groups: "{{ docker_group }}"
    name: "{{ docker_user }}"
  when: docker_user_manage | bool
  tags:
    - configure
