---
name: install
on:
  pull_request:
defaults:
  run:
    working-directory: "nephelaiio.docker"
jobs:
  local:
    name: local install
    runs-on: ubuntu-latest
    steps:
      - name: Run local install
        uses: pokerops/ansible-utils@master
        with:
          run: ./install.sh --local

      - name: Test Docker binary
        run: docker --version

      - name: Test Docker permissions
        run: docker ps
