---
name: install
on:
  pull_request:
defaults:
  run:
    working-directory: "nephelaiio.docker"
jobs:
  local:
    name: local install
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase
        uses: actions/checkout@v4
        with:
          path: "nephelaiio.docker"

      - name: Set up python 3
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install pipx
        run: python3 -m pip install --user pipx

      - name: Install pipx
        run: python3 -m pipx ensurepath

      - name: Run local install
        run: ./install.sh --local

      - name: Test Docker binary
        run: docker --version

      - name: Test Docker permissions
        run: docker ps
