---
name: molecule
on:
  pull_request:
    branches:
      - master
jobs:
  molecule:
    name: molecule
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scenario:
          - install
          - hold
        image:
          - name: ubuntu2404
            command: /lib/systemd/systemd
          - name: ubuntu2204
            command: /lib/systemd/systemd
          - name: ubuntu2004
            command: /lib/systemd/systemd
          - name: debian11
            command: /lib/systemd/systemd
    steps:
      - name: Run devbox tests
        uses: pokerops/ansible-utils@master
        with:
          run: |
            make requirements test \
              MOLECULE_DOCKER_IMAGE=${{ matrix.image.name }} \
              MOLECULE_DOCKER_COMMANE=${{ matrix.image.command }}
              MOLECULE_SCENARIO=${{ matrix.scenario }}
